<!DOCTYPE html>
<html lang="en">
<body>
    {% extends 'base.html' %}
    {% block content %}
    <main>
        <section id="education" class="education">
            <div class="container">
                <div class="section-header">
                    <p class="section-subtitle">MY JOURNEY</p>
                    <h2>Education</h2>
                    <p>
                        My academic journey and the experiences that have shaped
                        my knowledge and skills.
                    </p>
                </div>

                <div class="education-list">
                    {% for education in education_list %}
                        <div class="education-card">
                            <div class="education-left">

                                <img src="{{education.photo}}" alt="{{education.name}} Logo" class="education-logo">
                                {%if education.is_ongoing%}
                                    <div class="education-year">{{education.started_at}} - Present</div>
                                {%else%}
                                    <div class="education-year">{{education.started_at}} - {{education.ended_at}}</div>
                                {% endif %}

                            </div>
                            <div class="education-content">

                                <h3>{{education.name}}</h3>
                                <h4>{{education.major}}</h4>
                                <p>{{education.description}}</p>

                                <div class="education-tags">
                                    {%for education_tag in education.tags %}
                                    <span>{{education_tag}}</span>
                                    {% endfor %}
                                </div>

                            </div>
                        </div>

                    {% empty %}
                        <p class="empty-state">
                            Belum ada institusi yang ditambahkan.
                        </p>
                        
                    {% endfor %}

                </div>
            </div>
        </section>
    </main>

    {% endblock content %}
</body>
</html>